#languages{
    display: inline-flex;
    float: right;
    font-size: 30px;
    border-color: #608bd2;
    border: 2px;

}

#filter_block{
    float:left;
    width: 296px;
    height: 520px;
    background-color: #dce6f7;
    border-radius: 8px;
    border: 2px solid black;
    padding: 5px;

}
#product_list_block{
    float: left;
}
#content_wrapper{
    margin-left: 20%;
    margin-top: 2%;
    width: 50%;
}
#your_order{
    font-size: 30px;
}

.item{
    background-color: #d9d9db;
}

#wrapper{
    background-color: #eff9f9;
}