<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>TestServlet</display-name>
    <welcome-file-list>
        <welcome-file></welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>LangServlet</display-name>
        <servlet-name>LangServlet</servlet-name>
        <servlet-class>TestServlet.controller.LangServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LangServlet</servlet-name>
        <url-pattern>/LangServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>TabServlet</display-name>
        <servlet-name>TabServlet</servlet-name>
        <servlet-class>TestServlet.controller.TabServlet</servlet-class>

        <init-param>
            <param-name>lang</param-name>
            <param-value>ru</param-value>
        </init-param>
        <init-param>
            <param-name>default_tab</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>TabServlet</servlet-name>
        <url-pattern>/TabServlet</url-pattern>
    </servlet-mapping>


    <!-- Auntefication -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                Entire Application
            </web-resource-name>
            <url-pattern>/MyProfile</url-pattern>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Define the Login Configuration for this Application -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>My Club Members-only Area</realm-name>
        <form-login-config>
            <form-login-page>/shop_interface/login/login_page.jsp</form-login-page>
            <form-error-page>/shop_interface/login/error_login_page.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>tomcat</role-name>
    </security-role>


</web-app>